#blog h1 {
    font-size: 3em;
}

#blog .article {
    margin-bottom: 2em;
}

#blog .article h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 2em;
}

#blog .article .teaser {
    height: auto;
}

#blog .article .teaser p {
    margin: 0px;
}

#blog .article a {
    text-decoration: underline;
    color: black;
}