@import 'theme.scss';

#blog-spotlight-wrapper {
    margin-top: 2em;

    .thumbnail-wrapper {
        height: 50vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }

    .article-read-more {
        grid-area: read-more;

        a {
            text-decoration: none;
            color: $color-default-text;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}

#blog-articles-wrapper,
#contact-us-now-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-gray-bg;

    .blog-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .blog-article {
            --article-spacing: 40px;

            width: calc(50% - var(--article-spacing) / 2);
            height: 35em;
            margin-bottom: var(--article-spacing);
            background-color: white;
            box-shadow: 2px 2px 10px 0 #6b80cd10;
            display: grid;
            grid-template-rows: 60% 12% 6.5% 13% 8.5%;
            grid-template-areas:
                "thumbnail"
                "title"
                "date"
                "teaser"
                "read-more";

            .article-thumbnail {
                grid-area: thumbnail;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .article-title {
                grid-area: title;
                font-size: 2em;
                font-weight: bold;
                padding: 0 20px;
                display: flex;
                align-items: flex-end;
            }

            .article-date {
                grid-area: date;
                padding: 0 20px;
            }

            .article-teaser {
                grid-area: teaser;
                padding: 0 20px;

                p {
                    margin: 0;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }

            .article-read-more {
                grid-area: read-more;
                padding: 0 20px;

                a {
                    text-decoration: none;
                    color: $color-default-text;
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
        }
    }
}

#contact-us-now-wrapper {
    background-color: $color-default-bg;

    #main-content {
        margin-top: 3em;
        margin-bottom: 3em;

        a {
            text-decoration: none;
            color: $color-default-text;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}
