@import 'theme.scss';

.velo-donation-wrapper {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;

    --fluid-em: 16px;

    h1 {
        letter-spacing: 0.2em;
        font-size: calc(3.5 * var(--fluid-em));
        margin: 0;
    }

    input {
        text-align: center;
        font-size: calc(7 * var(--fluid-em));
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-bottom: 2rem;
        width: 4em;
        outline: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .velo-button {
        font-size: calc(1.3 * var(--fluid-em));
    }
}

@media screen and (max-width: $break-mobile) {
    .velo-donation-wrapper {
        --fluid-em: calc(10px + (16 - 10) * ((100vw - 300px) / (630 - 300)));
    }
}
