main:not(.no-padding) {
    padding-top: 6rem;
}

main.text-padding {
    padding-left: 10rem;
    padding-right: 10rem;
}

h1 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 2.75em;
}

main button {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 31px;
    padding: 15px;
    border: 2px solid black;
    font-size: 0.75rem;
    box-shadow: 0px 0px 15px 0px #00000045;
    outline: none;
}

figure.wp-block-gallery {
    margin-top: 1em;
}