@import 'theme.scss';

.velo-button {
    color: $color-text-on-primary;
    background-color: $color-primary;
    padding: 6px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.85em;
}
